/* -----------------------
  DISPLAY
----------------------- */

.gcl-d-block {
  display: block !important;
}

.gcl-d-inline {
  display: inline !important;
}

.gcl-d-inline-block {
  display: inline-block !important;
}
