/* -----------------------
  FONT FAMILY
----------------------- */
.gcl-font-family-primary {
  font-family: $gcl-font-family-primary;
}

.gcl-font-family-secondary {
  font-family: $gcl-font-family-secondary;
}

/* -----------------------
  FONT COLOR
----------------------- */
.gcl-font-color-primary {
  color: $gcl-font-color-primary;
}

.gcl-font-color-secondary {
  color: $gcl-font-color-secondary;
}

/* -----------------------
  FONT SIZE
----------------------- */
.test-class {
  font-size: 100px !important;
}

.gcl-font-size-xxs {
  font-size: $gcl-font-size-xxs !important;
}

.gcl-font-size-xs {
  font-size: $gcl-font-size-xs !important;
}

.gcl-font-size-sm {
  font-size: $gcl-font-size-sm !important;
}

.gcl-font-size-md {
  font-size: $gcl-font-size-md !important;
}

.gcl-font-size-lg {
  font-size: $gcl-font-size-lg !important;
}

.gcl-font-size-xl {
  font-size: $gcl-font-size-xl !important;
}

.gcl-font-size-xxl {
  font-size: $gcl-font-size-xxl !important;
}

/* -----------------------
  FONT WEIGHT
----------------------- */
.gcl-font-weight-heavy {
  font-weight: 700 !important;
}

.gcl-font-weight-medium {
  font-weight: 500 !important;
}

.gcl-font-weight-book {
  font-weight: 300 !important;
}

.gcl-font-weight-light {
  font-weight: 100 !important;
}

/* -----------------------
  FONT STYLE
----------------------- */
.gcl-font-italic {
  font-style: italic !important;
}
