/* -----------------------
  PADDING TOP
----------------------- */
.gcl-pt-0 {
  padding-top: 0px !important;
}

.gcl-pt-5 {
  padding-top: 5px !important;
}

.gcl-pt-10 {
  padding-top: 10px !important;
}

.gcl-pt-15 {
  padding-top: 15px !important;
}

.gcl-pt-20 {
  padding-top: 20px !important;
}

.gcl-pt-25 {
  padding-top: 25px !important;
}

.gcl-pt-30 {
  padding-top: 30px !important;
}

.gcl-pt-35 {
  padding-top: 35px !important;
}

.gcl-pt-40 {
  padding-top: 40px !important;
}

.gcl-pt-45 {
  padding-top: 45px !important;
}

.gcl-pt-50 {
  padding-top: 50px !important;
}

.gcl-pt-55 {
  padding-top: 55px !important;
}

.gcl-pt-60 {
  padding-top: 60px !important;
}

.gcl-pt-65 {
  padding-top: 65px !important;
}

.gcl-pt-70 {
  padding-top: 70px !important;
}

.gcl-pt-75 {
  padding-top: 75px !important;
}

.gcl-pt-80 {
  padding-top: 80px !important;
}

.gcl-pt-85 {
  padding-top: 85px !important;
}

.gcl-pt-90 {
  padding-top: 90px !important;
}

.gcl-pt-95 {
  padding-top: 95px !important;
}

.gcl-pt-100 {
  padding-top: 100px !important;
}

/* -----------------------
  PADDING RIGHT
----------------------- */
.gcl-pr-0 {
  padding-right: 0px !important;
}

.gcl-pr-5 {
  padding-right: 5px !important;
}

.gcl-pr-10 {
  padding-right: 10px !important;
}

.gcl-pr-15 {
  padding-right: 15px !important;
}

.gcl-pr-20 {
  padding-right: 20px !important;
}

.gcl-pr-25 {
  padding-right: 25px !important;
}

.gcl-pr-30 {
  padding-right: 30px !important;
}

.gcl-pr-35 {
  padding-right: 35px !important;
}

.gcl-pr-40 {
  padding-right: 40px !important;
}

.gcl-pr-45 {
  padding-right: 45px !important;
}

.gcl-pr-50 {
  padding-right: 50px !important;
}

.gcl-pr-55 {
  padding-right: 55px !important;
}

.gcl-pr-60 {
  padding-right: 60px !important;
}

.gcl-pr-65 {
  padding-right: 65px !important;
}

.gcl-pr-70 {
  padding-right: 70px !important;
}

.gcl-pr-75 {
  padding-right: 75px !important;
}

.gcl-pr-80 {
  padding-right: 80px !important;
}

.gcl-pr-85 {
  padding-right: 85px !important;
}

.gcl-pr-90 {
  padding-right: 90px !important;
}

.gcl-pr-95 {
  padding-right: 95px !important;
}

.gcl-pr-100 {
  padding-right: 100px !important;
}

/* -----------------------
  PADDING BOTTOM
----------------------- */
.gcl-pb-0 {
  padding-bottom: 0px !important;
}

.gcl-pb-5 {
  padding-bottom: 5px !important;
}

.gcl-pb-10 {
  padding-bottom: 10px !important;
}

.gcl-pb-15 {
  padding-bottom: 15px !important;
}

.gcl-pb-20 {
  padding-bottom: 20px !important;
}

.gcl-pb-25 {
  padding-bottom: 25px !important;
}

.gcl-pb-30 {
  padding-bottom: 30px !important;
}

.gcl-pb-35 {
  padding-bottom: 35px !important;
}

.gclcl-pb-40 {
  padding-bottom: 40px !important;
}

.gcl-pb-45 {
  padding-bottom: 45px !important;
}

.gcl-pb-50 {
  padding-bottom: 50px !important;
}

.gcl-pb-55 {
  padding-bottom: 55px !important;
}

.gcl-pb-60 {
  padding-bottom: 60px !important;
}

.gcl-pb-65 {
  padding-bottom: 65px !important;
}

.gcl-pb-70 {
  padding-bottom: 70px !important;
}

.gcl-pb-75 {
  padding-bottom: 75px !important;
}

.gcl-pb-80 {
  padding-bottom: 80px !important;
}

.gcl-pb-85 {
  padding-bottom: 85px !important;
}

.gcl-pb-90 {
  padding-bottom: 90px !important;
}

.gcl-pb-95 {
  padding-bottom: 95px !important;
}

.gcl-pb-100 {
  padding-bottom: 100px !important;
}

/* -----------------------
  PADDING LEFT
----------------------- */
.gcl-pl-0 {
  padding-left: 0px !important;
}

.gcl-pl-5 {
  padding-left: 5px !important;
}

.gcl-pl-10 {
  padding-left: 10px !important;
}

.gcl-pl-15 {
  padding-left: 15px !important;
}

.gcl-pl-20 {
  padding-left: 20px !important;
}

.gcl-pl-25 {
  padding-left: 25px !important;
}

.gcl-pl-30 {
  padding-left: 30px !important;
}

.gcl-pl-35 {
  padding-left: 35px !important;
}

.gcl-pl-40 {
  padding-left: 40px !important;
}

.gcl-pl-45 {
  padding-left: 45px !important;
}

.gcl-pl-50 {
  padding-left: 50px !important;
}

.gcl-pl-55 {
  padding-left: 55px !important;
}

.gcl-pl-60 {
  padding-left: 60px !important;
}

.gcl-pl-65 {
  padding-left: 65px !important;
}

.gcl-pl-70 {
  padding-left: 70px !important;
}

.gcl-pl-75 {
  padding-left: 75px !important;
}

.gcl-pl-80 {
  padding-left: 80px !important;
}

.gcl-pl-85 {
  padding-left: 85px !important;
}

.gcl-pl-90 {
  padding-left: 90px !important;
}

.gcl-pl-95 {
  padding-left: 95px !important;
}

.gcl-pl-100 {
  padding-left: 100px !important;
}

/* -----------------------
  PADDING X
----------------------- */
.gcl-px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.gcl-px-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.gcl-px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.gcl-px-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.gcl-px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.gcl-px-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.gcl-px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.gcl-px-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.gcl-px-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.gcl-px-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.gcl-px-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.gcl-px-55 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}

.gcl-px-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.gcl-px-65 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.gcl-px-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.gcl-px-75 {
  padding-left: 75px !important;
  padding-right: 75px !important;
}

.gcl-px-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.gcl-px-85 {
  padding-left: 85px !important;
  padding-right: 85px !important;
}

.gcl-px-90 {
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.gcl-px-95 {
  padding-left: 95px !important;
  padding-right: 95px !important;
}

.gcl-px-100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

/* -----------------------
  PADDING Y
----------------------- */
.gcl-py-0 {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.gcl-py-5 {
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

.gcl-py-10 {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.gcl-py-15 {
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}

.gcl-py-20 {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

.gcl-py-25 {
  padding-bottom: 25px !important;
  padding-top: 25px !important;
}

.gcl-py-30 {
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.gcl-py-35 {
  padding-bottom: 35px !important;
  padding-top: 35px !important;
}

.gcl-py-40 {
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}

.gcl-py-45 {
  padding-bottom: 45px !important;
  padding-top: 45px !important;
}

.gcl-py-50 {
  padding-bottom: 50px !important;
  padding-top: 50px !important;
}

.gcl-py-55 {
  padding-bottom: 55px !important;
  padding-top: 55px !important;
}

.gcl-py-60 {
  padding-bottom: 60px !important;
  padding-top: 60px !important;
}

.gcl-py-65 {
  padding-bottom: 65px !important;
  padding-top: 65px !important;
}

.gcl-py-70 {
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.gcl-py-75 {
  padding-bottom: 75px !important;
  padding-top: 75px !important;
}

.gcl-py-80 {
  padding-bottom: 80px !important;
  padding-top: 80px !important;
}

.gcl-py-85 {
  padding-bottom: 85px !important;
  padding-top: 85px !important;
}

.gcl-py-90 {
  padding-bottom: 90px !important;
  padding-top: 90px !important;
}

.gcl-py-95 {
  padding-bottom: 95px !important;
  padding-top: 95px !important;
}

.gcl-py-100 {
  padding-bottom: 100px !important;
  padding-top: 100px !important;
}
