/* -----------------------
TRANSLATE
----------------------- */
.gcl-transX-0 {
  transform: translateX(0);
}

.gcl-transX-p1 {
  transform: translateX(10px);
}

.gcl-transX-p2 {
  transform: translateX(20px);
}

.gcl-transX-p3 {
  transform: translateX(30px);
}

.gcl-transX-p4 {
  transform: translateX(40px);
}

.gcl-transX-p5 {
  transform: translateX(50px);
}

.gcl-transX-n1 {
  transform: translateX(-10px);
}

.gcl-transX-n2 {
  transform: translateX(-20px);
}

.gcl-transX-n3 {
  transform: translateX(-30px);
}

.gcl-transX-n4 {
  transform: translateX(-40px);
}

.gcl-transX-n5 {
  transform: translateX(-50px);
}
