/* -----------------------
  WIDTH
----------------------- */
.gcl-w-0 {
  width: 0%;
}

.gcl-w-25 {
  width: 25%;
}

.gcl-w-50 {
  width: 50%;
}

.gcl-w-75 {
  width: 75%;
}

.gcl-w-100 {
  width: 100%;
}
