// Primary Colors
$gcl-color-primary: #01b4b4;
$gcl-color-primary-dark: #007172;

// Secondary Colors
$gcl-color-secondary-1: #d1d9e2;
$gcl-color-secondary-2: #92a3b3;
$gcl-color-secondary-3: #5c738a;
$gcl-color-secondary-4: #44576b;

// Tertiary Colors
$gcl-color-tertiary-1: #394f91;
$gcl-color-tertiary-2: #7c4490;
$gcl-color-tertiary-3: #280b58;

//Status Colors
$gcl-color-danger: #dc3e32;

// Grey Colors
$gcl-color-grey-1: #f4f5f6;
$gcl-color-grey-2: #e7e7e7;
$gcl-color-grey-3: #d8d8d8;
$gcl-color-grey-4: #4a4a4a;

// Misc Colors
$gcl-color-black: #000000;
$gcl-color-white: #ffffff;
