// Font Family
$gcl-font-family-primary: 'Avenir';
$gcl-font-family-secondary: 'Source Sans Pro', sans-serif;

// Font Sizes
$gcl-font-size-base: 16px;

$gcl-font-size-xxs: 12px;
$gcl-font-size-xs: 14px;
$gcl-font-size-sm: 16px;
$gcl-font-size-md: 20px;
$gcl-font-size-lg: 24px;
$gcl-font-size-xl: 48px;
$gcl-font-size-xxl: 100px;

// Font Letters
$gcl-font-line-height: 1.5;
$gcl-font-letter-spacing: 0.5px;

// Font Colors
$gcl-font-color-primary: #44576b;
$gcl-font-color-secondary: #5c738a;
$gcl-font-color-white: #fff;
$gcl-font-color-grey: #4a4a4a;
$gcl-font-color-black: #000;

// Font Style
$gcl-font-style-italic: 'italic';

// Paragraph
$gcl-paragraph-1: 16px;
$gcl-paragraph-2: 14px;
