$gcl-media-sm: 600px;
$gcl-media-md: 900px;
$gcl-media-lg: 1200px;
$gcl-media-xl: 1800px;

$gcl-media-100: 100px;
$gcl-media-200: 200px;
$gcl-media-300: 300px;
$gcl-media-400: 400px;
$gcl-media-500: 500px;
$gcl-media-600: 600px;
$gcl-media-700: 700px;
$gcl-media-800: 800px;
$gcl-media-900: 900px;
$gcl-media-1000: 1000px;
$gcl-media-1100: 1100px;
$gcl-media-1200: 1200px;
$gcl-media-1300: 1300px;
